/*updated 7.11.13 - Responsive CSS for Mobile - AEL*/
/*theme overrides here will be included in base CSS */
div.fnc {
 width:70%; 
}
h3.category {
 font-size:1em;
}
.button_panel input[type="submit"] {
  /* min-width: 30%; */
}
#tabs {
  border-bottom: 2px solid #c6c6c6;
  overflow:visible;
}
#tabs li {
  margin-right:3px;
}
#tabs li:last-of-type {
  margin-right:0;
}

#quick_subscribe_confirmation div.button_panel {
  margin-top: 15px;
}
button.treeExpand {
  margin-left:0px;
}

@media only screen and (min-width: 768px) {
  div.featured_network input {
    transform: scale(1,1);
    -ms-transform: scale(1,1);
    -webkit-transform: scale(1,1);
  } 
}
/*updated 9.14.12 - Increasing white background width to 720 and adding padding to banner to match body - ASB*/
/*updated 4.17.12 - Network Page Updates - AJG*/
/*updated 7.11.13 - mobile CSS update GOVD-4832 - AEL*/

body#shared_bulletin #footer .forward .addthis_button_email
{
color: #666666;
}

body#shared_bulletin #page .shared_bulletin_header .subscribe {
  width: 360px;
}

body#shared_bulletin #page .shared_bulletin_header .subscribe form#sub_form {
  background: none;
  width: 337px;
}

body#shared_bulletin #page {
  width: 720px;
}

body#shared_bulletin #page .account_banner {
  padding: 0 10px;
}

body#shared_bulletin p {
  margin-top:16px;
  margin-bottom:16px;
}

body#sub{
font-family: Arial,Helvetica,sans-serif;
font-size:1em;
}

div.qs_banner a img 
{
width: 100%;
}

ul.mktree li {
padding-top: 2pt;

}

a {
  color: #0059B3;
}

form {
margin: 0 auto;
width: 100%;
padding:0;
background:#fff;
}



legend {
font-weight: 700;
margin-top:30px;
margin-bottom:0px;
color: #000000;
font-family: Arial,Helvetica,sans-serif;
line-height: 30px;

}

fieldset legend {
margin-top: 0pt;
margin-right: 0pt;
margin-bottom: 10pt;
margin-left: 4pt;
padding-top: 3pt;
padding-right: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
position: relative;
left: 0px;

}

label{
font-weight:bold;
line-height: 14px;
font-size:.9em;
}

button {
clear:both;
width:50px;
height:31px;
background:#ccc;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-weight:bold;
cursor:pointer;
}

hr {
   width: 90%;
   color: #ccc;
   height: 1px;
}

#quick_subscribe_new_instructions ul,
#quick_subscribe_email_instructions ul,
#quick_subscribe_password_instructions ul,
#quick_subscribe_topic_unsubscribe_instructions ul,
#digest_instructions ul {
margin: 5px 0px;
font-size:.9em;
list-style: disc;
list-style-position: inside;
}

.panel {
padding: 0;
margin: 0 1em 1em;
border-left: none;
border-right: none;
border-bottom: none;
border-top: none
}

input, textarea, blockquote
{
margin: 0;
padding: 0 5px 0 0;
font-family: Arial,Helvetica,sans-serif;
}

li.radio_button{
font-family: Arial,Helvetica,sans-serif;

}

fieldset ol.form .radio_button label {
font-family: Arial,Helvetica,sans-serif;
color:#666666;
padding-left:5px;
}

div#digest_instructions{
padding-bottom: 7px;
}

div#digest_postscript{
font-family: Arial,Helvetica,sans-serif;

color:#666666;
padding-top: 5px;
}

div#quick_subscribe_email_instructions,
div#quick_subscribe_password_instructions,
div#quick_subscribe_topic_unsubscribe_instructions,
div#digest_instructions{
font-family: Arial,Helvetica,sans-serif;
color:#666666;
padding-left:5px;
}

div.questions_description{
font-family: Arial,Helvetica,sans-serif;

color:#666666;
padding-left:5px;
}

div#questions_instructions{
font-family: Arial,Helvetica,sans-serif;

color:#666666;
padding-left:5px;
padding-top:5px;
}

div#qs_banner a img {
  height: auto;
  width: auto;
}

fieldset ol.form label.required
{
background-image: none;
}

#footer {
  text-align: center;
  background-color: #fff;
  clear: both;
  padding: 0px 12px 10px 12px;
  font-size:.8em;
 }

#footer p {
    padding: 0.5em 0; 
}

#quick_subscribe_new, fieldset {
width: 100%;
}

.data-table {
 margin-left: -5px;
}

p.name{
padding-bottom: 15px;
}

ul+p {
margin-top:10px;
}

fieldset ol.form label.required {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(/images/required.gif) no-repeat scroll right top;
}

body#shared_bulletin #page_margins {
   background: #f6f6f6;
}


div.fnc span.title {
    font-size:1.3em;

}

input[value="Cancel"] {
  width: 90px !important;
}

/* updated 11.2.2012 ASB - adding styling for ordered lists, workaround for GOVD-3647 */

body#shared_bulletin #page ol { 
  list-style: decimal outside none; 
  margin: 0 0 0 3em;
}
